body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:1209px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:1209px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:596px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:1209px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5073 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:1209px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:596px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u5075 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5077 {
  position:absolute;
  left:0px;
  top:110px;
  width:160px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u5078 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5079 {
  position:absolute;
  left:0px;
  top:193px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5080 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5081 {
  position:absolute;
  left:0px;
  top:290px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5083 {
  position:absolute;
  left:159px;
  top:0px;
  width:1211px;
  height:50px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:17px;
  width:1207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u5085 {
  position:absolute;
  left:1291px;
  top:8px;
  width:35px;
  height:35px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5087 {
  position:absolute;
  left:179px;
  top:15px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5089 {
  position:absolute;
  left:1095px;
  top:11px;
  width:28px;
  height:28px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5091 {
  position:absolute;
  left:1132px;
  top:18px;
  width:112px;
  height:16px;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5093 {
  position:absolute;
  left:0px;
  top:164px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5094 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5095 {
  position:absolute;
  left:0px;
  top:225px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5097 {
  position:absolute;
  left:0px;
  top:259px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5099 {
  position:absolute;
  left:0px;
  top:322px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5100 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u5101 {
  position:absolute;
  left:0px;
  top:355px;
  width:160px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:1489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5103 {
  position:absolute;
  left:171px;
  top:60px;
  width:1199px;
  height:1489px;
}
#u5104 {
  position:absolute;
  left:2px;
  top:736px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105 {
  position:absolute;
  left:383px;
  top:80px;
  width:120px;
  height:30px;
}
#u5105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
}
#u5105_input:disabled {
  color:grayText;
}
#u5106 {
  position:absolute;
  left:188px;
  top:123px;
  width:1177px;
  height:293px;
}
#u5107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5107 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5109 {
  position:absolute;
  left:42px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5110 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5111 {
  position:absolute;
  left:182px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5112 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5113 {
  position:absolute;
  left:302px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5115 {
  position:absolute;
  left:392px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5117 {
  position:absolute;
  left:492px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5118 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5119 {
  position:absolute;
  left:592px;
  top:0px;
  width:380px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5121 {
  position:absolute;
  left:972px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5123 {
  position:absolute;
  left:1072px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5125 {
  position:absolute;
  left:0px;
  top:36px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5126 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5127 {
  position:absolute;
  left:42px;
  top:36px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5128 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5129 {
  position:absolute;
  left:182px;
  top:36px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5130 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5131 {
  position:absolute;
  left:302px;
  top:36px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5132 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5133 {
  position:absolute;
  left:392px;
  top:36px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5134 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5135 {
  position:absolute;
  left:492px;
  top:36px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5136 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5137 {
  position:absolute;
  left:592px;
  top:36px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5138 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5139 {
  position:absolute;
  left:972px;
  top:36px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5140 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5141 {
  position:absolute;
  left:1072px;
  top:36px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5142 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5143 {
  position:absolute;
  left:0px;
  top:72px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5144 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5145 {
  position:absolute;
  left:42px;
  top:72px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5146 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5147 {
  position:absolute;
  left:182px;
  top:72px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5148 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5149 {
  position:absolute;
  left:302px;
  top:72px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5150 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5151 {
  position:absolute;
  left:392px;
  top:72px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5152 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5153 {
  position:absolute;
  left:492px;
  top:72px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5154 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5155 {
  position:absolute;
  left:592px;
  top:72px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5156 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5157 {
  position:absolute;
  left:972px;
  top:72px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5158 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5159 {
  position:absolute;
  left:1072px;
  top:72px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5160 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5161 {
  position:absolute;
  left:0px;
  top:108px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5162 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5163 {
  position:absolute;
  left:42px;
  top:108px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5164 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5165 {
  position:absolute;
  left:182px;
  top:108px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5166 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5167 {
  position:absolute;
  left:302px;
  top:108px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5168 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5169 {
  position:absolute;
  left:392px;
  top:108px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5170 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5171 {
  position:absolute;
  left:492px;
  top:108px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5172 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5173 {
  position:absolute;
  left:592px;
  top:108px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5174 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5175 {
  position:absolute;
  left:972px;
  top:108px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5176 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5177 {
  position:absolute;
  left:1072px;
  top:108px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5178 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5179 {
  position:absolute;
  left:0px;
  top:144px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5180 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5181 {
  position:absolute;
  left:42px;
  top:144px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5182 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5183 {
  position:absolute;
  left:182px;
  top:144px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5184 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5185 {
  position:absolute;
  left:302px;
  top:144px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5186 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5187 {
  position:absolute;
  left:392px;
  top:144px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5188 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5189 {
  position:absolute;
  left:492px;
  top:144px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5190 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5191 {
  position:absolute;
  left:592px;
  top:144px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5192 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5193 {
  position:absolute;
  left:972px;
  top:144px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5194 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5195 {
  position:absolute;
  left:1072px;
  top:144px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5196 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5197 {
  position:absolute;
  left:0px;
  top:180px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5198 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5199 {
  position:absolute;
  left:42px;
  top:180px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5200 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5201 {
  position:absolute;
  left:182px;
  top:180px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5202 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5203 {
  position:absolute;
  left:302px;
  top:180px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5204 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5205 {
  position:absolute;
  left:392px;
  top:180px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5206 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5207 {
  position:absolute;
  left:492px;
  top:180px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5208 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5209 {
  position:absolute;
  left:592px;
  top:180px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5210 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5211 {
  position:absolute;
  left:972px;
  top:180px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5212 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5213 {
  position:absolute;
  left:1072px;
  top:180px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5214 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5215 {
  position:absolute;
  left:0px;
  top:216px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5216 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5217 {
  position:absolute;
  left:42px;
  top:216px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5218 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5219 {
  position:absolute;
  left:182px;
  top:216px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5220 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5221 {
  position:absolute;
  left:302px;
  top:216px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5222 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5223 {
  position:absolute;
  left:392px;
  top:216px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5224 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5225 {
  position:absolute;
  left:492px;
  top:216px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5226 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5227 {
  position:absolute;
  left:592px;
  top:216px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5228 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5229 {
  position:absolute;
  left:972px;
  top:216px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5230 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5231 {
  position:absolute;
  left:1072px;
  top:216px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5232 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
}
#u5233 {
  position:absolute;
  left:0px;
  top:252px;
  width:42px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5234 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u5235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u5235 {
  position:absolute;
  left:42px;
  top:252px;
  width:140px;
  height:36px;
  font-size:14px;
  text-decoration:underline;
  color:#797979;
}
#u5236 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5237 {
  position:absolute;
  left:182px;
  top:252px;
  width:120px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u5238 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u5239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5239 {
  position:absolute;
  left:302px;
  top:252px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5240 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5241 {
  position:absolute;
  left:392px;
  top:252px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#797979;
}
#u5242 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5243 {
  position:absolute;
  left:492px;
  top:252px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6699;
  text-align:right;
}
#u5244 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
}
#u5245 {
  position:absolute;
  left:592px;
  top:252px;
  width:380px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u5246 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5247 {
  position:absolute;
  left:972px;
  top:252px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#363636;
}
#u5248 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u5249 {
  position:absolute;
  left:1072px;
  top:252px;
  width:100px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u5250 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5251 {
  position:absolute;
  left:188px;
  top:420px;
  width:142px;
  height:16px;
  color:#6B6B6B;
}
#u5252 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  text-align:right;
}
#u5253 {
  position:absolute;
  left:628px;
  top:421px;
  width:154px;
  height:16px;
  color:#6B6B6B;
  text-align:right;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u5255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u5255 {
  position:absolute;
  left:188px;
  top:80px;
  width:173px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u5256 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u5257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5257 {
  position:absolute;
  left:528px;
  top:80px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u5258 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u5260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5260 {
  position:absolute;
  left:188px;
  top:468px;
  width:1168px;
  height:44px;
}
#u5261 {
  position:absolute;
  left:2px;
  top:14px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262 {
  position:absolute;
  left:675px;
  top:479px;
  width:81px;
  height:24px;
}
#u5262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5262_input:disabled {
  color:grayText;
}
#u5263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5263 {
  position:absolute;
  left:811px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5264 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u5265 {
  position:absolute;
  left:778px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u5266 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5267 {
  position:absolute;
  left:844px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5268 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5269 {
  position:absolute;
  left:877px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5270 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5271 {
  position:absolute;
  left:910px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5272 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5273 {
  position:absolute;
  left:943px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5274 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5275 {
  position:absolute;
  left:977px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5276 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5277 {
  position:absolute;
  left:1011px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5278 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5279 {
  position:absolute;
  left:1045px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5280 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5281 {
  position:absolute;
  left:1079px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5282 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u5283 {
  position:absolute;
  left:1113px;
  top:479px;
  width:24px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u5284 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u5285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u5285 {
  position:absolute;
  left:554px;
  top:483px;
  width:104px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u5286 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u5287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u5287 {
  position:absolute;
  left:1161px;
  top:482px;
  width:43px;
  height:16px;
  font-size:13px;
  text-align:right;
}
#u5288 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  position:absolute;
  left:1208px;
  top:479px;
  width:60px;
  height:24px;
}
#u5290 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u5291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5291 {
  position:absolute;
  left:1274px;
  top:482px;
  width:34px;
  height:16px;
  font-size:13px;
}
#u5292 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u5293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:956px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:20px;
}
#u5293 {
  position:absolute;
  left:188px;
  top:522px;
  width:758px;
  height:956px;
  font-size:16px;
  line-height:20px;
}
#u5294 {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  word-wrap:break-word;
}
