body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:878px;
}
#u10627 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:878px;
}
#u10628 {
  position:absolute;
  left:2px;
  top:431px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10629 {
  position:absolute;
  left:31px;
  top:109px;
  width:375px;
  height:660px;
}
#u10630 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10632 {
  position:absolute;
  left:31px;
  top:162px;
  width:375px;
  height:64px;
}
#u10633 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10634 {
  position:absolute;
  left:46px;
  top:174px;
  width:135px;
  height:16px;
}
#u10635 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u10636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
  text-align:right;
}
#u10636 {
  position:absolute;
  left:260px;
  top:174px;
  width:135px;
  height:16px;
  color:#BCBCBC;
  text-align:right;
}
#u10637 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u10638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
  text-align:right;
}
#u10638 {
  position:absolute;
  left:46px;
  top:200px;
  width:349px;
  height:16px;
  color:#BCBCBC;
  text-align:right;
}
#u10639 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u10640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
  line-height:20px;
}
#u10640 {
  position:absolute;
  left:46px;
  top:324px;
  width:344px;
  height:100px;
  font-size:12px;
  color:#797979;
  line-height:20px;
}
#u10641 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u10642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10642 {
  position:absolute;
  left:46px;
  top:256px;
  width:344px;
  height:40px;
  color:#FFFFFF;
}
#u10643 {
  position:absolute;
  left:2px;
  top:12px;
  width:340px;
  word-wrap:break-word;
}
#u10644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10644 {
  position:absolute;
  left:31px;
  top:108px;
  width:375px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10645 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u10646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10646 {
  position:absolute;
  left:39px;
  top:115px;
  width:30px;
  height:30px;
}
#u10647 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
