/* http://meyerweb.com/eric/tools/css/reset/ 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

* {
    max-height: 100000px;
    touch-action:manipulation;
    font-size: inherit;
    /*  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;*/
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

input {
    outline: none;
    border: 0;
    background: none;
    outline: medium;
    -webkit-tap-highlight-color: transparent;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .4rem;
    color: #fff;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 9px;
    height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 15px;
    background-clip: content-box;
    background-color: #f0f0f0;
    box-shadow: 0 0 0 5px rgba(147, 147, 156, 0.58) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
} */