body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:877px;
}
#u485 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:435px;
  height:877px;
}
#u486 {
  position:absolute;
  left:2px;
  top:430px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:663px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:30px;
  top:108px;
  width:375px;
  height:663px;
}
#u488 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u489 {
  position:absolute;
  left:30px;
  top:108px;
  width:375px;
  height:44px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u490 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u491 {
  position:absolute;
  left:38px;
  top:116px;
  width:30px;
  height:30px;
}
#u492 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  position:absolute;
  left:30px;
  top:727px;
  width:375px;
  height:44px;
}
#u494 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u495 {
  position:absolute;
  left:148px;
  top:223px;
  width:140px;
  height:140px;
}
#u496 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:center;
}
#u497 {
  position:absolute;
  left:30px;
  top:381px;
  width:375px;
  height:16px;
  color:#949494;
  text-align:center;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:center;
}
#u499 {
  position:absolute;
  left:30px;
  top:402px;
  width:375px;
  height:16px;
  color:#949494;
  text-align:center;
}
#u500 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
