<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<script src="https://cdn.bootcss.com/crypto-js/3.1.9/crypto-js.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

<body>
  <div id="app">
    <p style="font-size: 20px">{{ merkey }}</p>
    <select v-model="merkey" name="category" id="category" style="padding:2px 5px;" @change='getMerid'>
      <option v-for="(item,index) in merlist" :value="item.key">{{ item.id }}</option>
    </select>
    <pre style="font-size: 16px">
state 申请结果  int 

0) 必赢收单成功  1) 必赢已收单.  2) 号码格式错误  3) 金额错误  4) 服务繁忙 5) 其它错误 
6) 投注人信息（身份证，手机，姓名）不完整 7) 彩种或期次错误 8) 投注参数错误
        </pre>
    <p class="int">
      <li>
        <font>merid</font>
        <input type="text" v-model="merid">
      </li>
      <li>
        <font>merkey</font>
        <input type="text" v-model="merkey">
      </li>
      <br>
      <li>
        <font>baseURL</font>
        <input type="text" v-model="baseURL">
      </li>
      <li>
        <font>idcard</font>
        <input type="text" v-model="int.idcard">
      </li>
      <li>
        <font>name</font>
        <input type="text" v-model="int.name">
      </li>
      <li>
        <font>mobile</font>
        <input type="text" v-model="int.mobile">
      </li>
      <li>
        <font>lotid</font>
        <input type="text" v-model="int.lotid">
      </li>
      <li style="padding-left: 100px">
        <select v-model="match" style="padding:2px 5px;">
          <option v-for="(item,index) in matchlist" :value="item">{{ item }}</option>
        </select>
        <select v-model="str" style="padding:2px 5px;">
          <option v-for="(item,index) in stringlist" :value="item">{{ item }}</option>
        </select>
        <button style="padding:2px 5px;" @click='matchRandom'>random</button>
      </li>
      <li>
        <font>code</font>
        <textarea v-model="int.code" style="height: 100px"></textarea>
      </li>
      <li>
        <font>multi</font>
        <input type="text" v-model="int.multi">
      </li>
      <li>
        <font>money</font>
        <input type="text" v-model="int.money">
      </li>
    </p>
    <button @click='httpPost' class="btn"> Post </button>
    <button @click='reslist=[]' class="btn"> Clear </button>
    <p>
      <div v-for="(x,index) in reslist">第{{index+1}}条 　投注内容：
        <br>{{x.req}}
        <br>结果状态为：{{x.res}}
        <br> 描述内容：{{x.desc}}
        <br>返回单号：{{x.tid}}</div>
    </p>
  </div>
</body>

</html>
<script type="text/javascript">
const merkeyid = [
  { id: '80000', key: 'xkwslvulzajzzfri' },
  { id: '80001', key: 'tfbysoopgefutcrq' },
  { id: '80002', key: 'fgiviefrxwobgveq' },
  // { id: '80005', key: 'lgfupfknwoyogkva' },
  // { id: '80008', key: 'ximujdqwcstjfoxi' },
  // { id: '80005', key: 'rnpgfilalhpgelmz' },
]
const matchtype = ['SPF', 'BQC', 'JQS', 'RSPF']
const stringlist = ['2*1', '3*1', '4*1', '5*1', '6*1', '7*1', '8*1', ]
const M = {
  'SPF': [0, 1, 3],
  'RSPF': [0, 1, 3],
  'BQC': ['0-0', '0-1', '0-3', '1-0', '1-1', '1-3', '3-0', '3-1', '3-3'],
  'JQS': [0, 1, 2, 3, 4, 5, 6, 7],
}

new Vue({
  el: '#app',
  data: {
    merid: '80002',
    merkey: 'fgiviefrxwobgveq',
    merlist: merkeyid,
    req: '',
    reslist: [],
    baseURL: 'http://192.168.1.249:8088',
    int: {
      idcard: '411327197507122075',
      name: '张兵',
      mobile: '13766689711',
      lotid: '1',
      code: 'SPF|201808201001=0,201808201002=0|2*1',
      multi: '50',
      money: '100',
    },
    matchlist: matchtype,
    match: 'SPF',
    stringlist: stringlist,
    str: '2*1',
  },
  methods: {
    getMerid() {
      merkeyid.map(x => {
        if (x.key == this.merkey) this.merid = x.id;
      })
    },
    toPublicKey(req) {
      return CryptoJS.MD5(req + this.merkey).toString()
    },
    param(data) {
      let url = "";
      for (let k in data) {
        let value = data[k] != undefined ? data[k] : '';
        url += `&${k}=${encodeURIComponent(value)}`;
      }
      return url ? url.substring(1) : '';
    },
    reqBuild(i) {
      const code = 'SPF|201808197001=0,201808197002=0|2*1'
      const apply = Date.parse(new Date()) + 2000
      return `<?xml version="1.0" encoding="UTF-8"?><request><head sid="1001" merid="${this.merid}" messageid="110" timestamp="119" memo="" /><body><query><ticket idcard="${this.int.idcard}" name="${this.int.name}" mobile="${this.int.mobile}" lotid="${this.int.lotid}" apply="${apply}" code="${this.int.code}" multi="${this.int.multi}" money="${this.int.money}" et=''/></query></body></request>`
    },
    httpPost() {
      for (let i = 0; i <= 0; i++) {
        setTimeout((i) => {
          this.req = this.reqBuild(i)
          axios({
            method: 'post',
            url: this.baseURL + '/mer',
            data: this.param({
              xml: this.req,
              sign: this.toPublicKey(this.req)
            }),
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            }
          }).then(res => {
            // console.log(this.req)
            var data = res.data
            var r = data.match(/(?<=state=\").*?(?=\"\s)/gm)
            this.reslist.push({
              req: this.req.match(/(?<=\<query\>)(.|\n)*?(?=\<\/query\>)/gm),
              res: r,
              tid: data.match(/(?<=tid=\").*?(?=\"\s)/gm),
              desc: data.match(/(?<=desc=\").*?(?=\"\/)/gm)
            })
          }).catch(err => {
            console.log(`err`)
          })
        }, 1000 * i)
      }

    },
    matchRandom() {
      var ary = [];
      var n2 = (x, n) => ((x * 1) / Math.pow(10, n)).toFixed(n).substr(2);
      var prefix = new Date().getFullYear() + n2(new Date().getMonth() * 1 + 1, 2) + n2(new Date().getDate(), 2) + new Date().getDay()
      var length = this.str[0] * 1
      for (var i = 1; i <= length; i++) {
        let game = n2((Math.random() * 19 + 1).toFixed(0), 3)
        if ((ary.join()).indexOf(game) < 0) {
          ary.push(prefix + game + '=' + M[this.match][Math.floor((Math.random() * M[this.match].length))])
        } else {
          length++
        }
      }
      // Math.floor((Math.random()*arr.length))
      // this.int.code=''
      this.int.code = this.match + '|' + ary.join(',') + '|' + this.str;
    },

  },
  mounted() {
    this.getMerid()
  },
})
</script>
<style type="text/css">
body {
  padding: 20px 100px;
}

.btn {
  padding: 5px 20px;
  font-size: 18px;
}

select,
button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
}

.minbtn {
  height: 24px;
  width: 80px;
  font-size: 15px;
}

li {
  overflow: hidden;
  margin: 4px 0;
  line-height: 20px;
}

font {
  float: left;
  min-width: 100px;
  font-size: 16px;
}

input,
textarea {
  resize: none;
  min-width: 400px;
  vertical-align: middle;
  font-size: 16px;
}
</style>