body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:595px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2717 {
  position:absolute;
  left:21px;
  top:1px;
  width:375px;
  height:595px;
}
#u2718 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2719 {
  position:absolute;
  left:21px;
  top:0px;
  width:376px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u2720 {
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  word-wrap:break-word;
}
#u2721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2721 {
  position:absolute;
  left:36px;
  top:7px;
  width:30px;
  height:30px;
}
#u2722 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u2723 {
  position:absolute;
  left:21px;
  top:54px;
  width:375px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u2724 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u2725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u2725 {
  position:absolute;
  left:21px;
  top:104px;
  width:375px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u2726 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u2727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2727 {
  position:absolute;
  left:36px;
  top:169px;
  width:342px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u2728 {
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u2729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2729 {
  position:absolute;
  left:298px;
  top:116px;
  width:80px;
  height:16px;
  text-align:right;
}
#u2730 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
