body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:878px;
}
#u11245 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:878px;
}
#u11246 {
  position:absolute;
  left:2px;
  top:431px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11247 {
  position:absolute;
  left:31px;
  top:108px;
  width:375px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11248 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u11249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11249 {
  position:absolute;
  left:39px;
  top:115px;
  width:30px;
  height:30px;
}
#u11250 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11251 {
  position:absolute;
  left:31px;
  top:200px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u11252 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:18px;
}
#u11253 {
  position:absolute;
  left:45px;
  top:208px;
  width:235px;
  height:24px;
  color:#FFFFFF;
  line-height:18px;
}
#u11254 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11255 {
  position:absolute;
  left:32px;
  top:250px;
  width:375px;
  height:54px;
}
#u11256 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11257 {
  position:absolute;
  left:269px;
  top:231px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11258 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11259 {
  position:absolute;
  left:46px;
  top:232px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11260 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11261 {
  position:absolute;
  left:33px;
  top:151px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u11262 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
#u11263 {
  position:absolute;
  left:269px;
  top:209px;
  width:123px;
  height:22px;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
#u11264 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u11265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  line-height:18px;
}
#u11265 {
  position:absolute;
  left:46px;
  top:157px;
  width:235px;
  height:24px;
  color:#434343;
  line-height:18px;
}
#u11266 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11267 {
  position:absolute;
  left:270px;
  top:180px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11268 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u11269 {
  position:absolute;
  left:47px;
  top:181px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u11270 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11271 {
  position:absolute;
  left:270px;
  top:158px;
  width:123px;
  height:22px;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11272 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u11273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  line-height:18px;
}
#u11273 {
  position:absolute;
  left:42px;
  top:258px;
  width:235px;
  height:24px;
  color:#434343;
  line-height:18px;
}
#u11274 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11275 {
  position:absolute;
  left:266px;
  top:281px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11276 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u11277 {
  position:absolute;
  left:43px;
  top:282px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u11278 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11279 {
  position:absolute;
  left:266px;
  top:259px;
  width:123px;
  height:22px;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11280 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u11281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11281 {
  position:absolute;
  left:32px;
  top:302px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u11282 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:18px;
}
#u11283 {
  position:absolute;
  left:46px;
  top:310px;
  width:235px;
  height:24px;
  color:#FFFFFF;
  line-height:18px;
}
#u11284 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11285 {
  position:absolute;
  left:31px;
  top:352px;
  width:375px;
  height:54px;
}
#u11286 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11287 {
  position:absolute;
  left:270px;
  top:333px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11288 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11289 {
  position:absolute;
  left:47px;
  top:334px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11290 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
#u11291 {
  position:absolute;
  left:270px;
  top:311px;
  width:123px;
  height:22px;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
#u11292 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u11293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  line-height:18px;
}
#u11293 {
  position:absolute;
  left:42px;
  top:360px;
  width:235px;
  height:24px;
  color:#434343;
  line-height:18px;
}
#u11294 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11295 {
  position:absolute;
  left:265px;
  top:383px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11296 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u11297 {
  position:absolute;
  left:42px;
  top:384px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u11298 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11299 {
  position:absolute;
  left:267px;
  top:361px;
  width:123px;
  height:22px;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11300 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u11301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11301 {
  position:absolute;
  left:31px;
  top:404px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u11302 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:18px;
}
#u11303 {
  position:absolute;
  left:44px;
  top:412px;
  width:235px;
  height:24px;
  color:#FFFFFF;
  line-height:18px;
}
#u11304 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11305 {
  position:absolute;
  left:31px;
  top:454px;
  width:375px;
  height:54px;
}
#u11306 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11307 {
  position:absolute;
  left:268px;
  top:435px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11308 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11309 {
  position:absolute;
  left:45px;
  top:436px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11310 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
#u11311 {
  position:absolute;
  left:268px;
  top:413px;
  width:123px;
  height:22px;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
#u11312 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u11313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  line-height:18px;
}
#u11313 {
  position:absolute;
  left:41px;
  top:462px;
  width:235px;
  height:24px;
  color:#434343;
  line-height:18px;
}
#u11314 {
  position:absolute;
  left:0px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u11315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11315 {
  position:absolute;
  left:265px;
  top:485px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u11316 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u11317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u11317 {
  position:absolute;
  left:42px;
  top:486px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u11318 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u11319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11319 {
  position:absolute;
  left:265px;
  top:463px;
  width:123px;
  height:22px;
  color:#434343;
  text-align:right;
  line-height:18px;
}
#u11320 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
