body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3242 {
  position:absolute;
  left:32px;
  top:960px;
  width:363px;
  height:100px;
  line-height:20px;
}
#u3243 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u3244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3244 {
  position:absolute;
  left:32px;
  top:1108px;
  width:352px;
  height:100px;
  line-height:20px;
}
#u3245 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3246 {
  position:absolute;
  left:32px;
  top:1226px;
  width:352px;
  height:100px;
  line-height:20px;
}
#u3247 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3248 {
  position:absolute;
  left:32px;
  top:1343px;
  width:352px;
  height:100px;
  line-height:20px;
}
#u3249 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:878px;
}
#u3250 {
  position:absolute;
  left:1px;
  top:0px;
  width:435px;
  height:878px;
}
#u3251 {
  position:absolute;
  left:2px;
  top:431px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:616px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u3252 {
  position:absolute;
  left:32px;
  top:153px;
  width:375px;
  height:616px;
  color:#E4E4E4;
}
#u3253 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  word-wrap:break-word;
}
#u3254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3254 {
  position:absolute;
  left:32px;
  top:109px;
  width:375px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3255 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u3256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3256 {
  position:absolute;
  left:44px;
  top:116px;
  width:30px;
  height:30px;
}
#u3257 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3258 {
  position:absolute;
  left:32px;
  top:152px;
  width:375px;
  height:138px;
}
#u3259 {
  position:absolute;
  left:2px;
  top:61px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3260 {
  position:absolute;
  left:44px;
  top:159px;
  width:352px;
  height:125px;
  line-height:20px;
}
#u3261 {
  position:absolute;
  left:0px;
  top:2px;
  width:352px;
  word-wrap:break-word;
}
#u3262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3262 {
  position:absolute;
  left:32px;
  top:289px;
  width:375px;
  height:141px;
}
#u3263 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3264 {
  position:absolute;
  left:32px;
  top:428px;
  width:375px;
  height:141px;
}
#u3265 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3266 {
  position:absolute;
  left:44px;
  top:297px;
  width:352px;
  height:125px;
  line-height:20px;
}
#u3267 {
  position:absolute;
  left:0px;
  top:2px;
  width:352px;
  word-wrap:break-word;
}
#u3268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3268 {
  position:absolute;
  left:45px;
  top:436px;
  width:352px;
  height:125px;
  line-height:20px;
}
#u3269 {
  position:absolute;
  left:0px;
  top:2px;
  width:352px;
  word-wrap:break-word;
}
